<!DOCTYPE html>
<html>

	<body style = "background-color:#ececec; height: 660px;">
	 <header>
    <div class="container">
      <nav>
        <ul>
               
                                        
                    <li><a href="http://localhost:4200/myprofile">BACK TO MY PROFILE</a></li>
        </ul>
      </nav>
    </div>
     </header>
    
            <div class="container" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                <div  style = "padding-left: 200px;">    
                <table border="0" cellspacing="5" cellpadding="1"  >
                    <thead>
                        <tr>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                        
                    
                      <tr></tr>
                      
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                          <tr></tr>
                        <tr>
                           
                    <td style="padding-right:100px;" ><input type="text" style="width:150%;height:150px;border: 2px solid black;
                      color: gray;border-radius: 8px;"  placeholder="Enter Caption" name="textpost" #textpost /><br>
                        
                        </tr>
                        
                       
                        <tr></tr>

                        <td style="padding-left:140px;padding-top:10px"><input type="file" id="actual-btn" class="btn" #file />
                      
                      </td>
                        <tr>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                                <td style="padding-inline-start:35px;padding-left:10px;"><input  type="submit" value="POST" (click)="submit(textpost.value,file.value)" (onmouseleave) = "clear(textpost,file)" style=" width:120%; height:45px; font-weight:bold;font-size:larger;border: 2px solid black;
                                  color:gray;border-radius: 8px;color:black;background-color: rgb(137, 214, 245);" /></td>
                            
                            </tr>
                            <tr></tr>
                            <tr></tr>
                
                
                       
                    </tbody>
                </table>
                </div>
            </div>
    </body>
    
</html>